html {
    font-family: Open Sans;
    font-weight: 300;
    height: 100%;
}

header {
    margin-right: 15px;
    position: absolute;
    right: 1%;
}

.fa-arrow-circle-right {
    margin-right: 5px;
    margin-left: 12px;
}

h1 {
    font-size: 40px;
    font-weight: 400;
    color: black;
    width: 80px;
    padding-top: 4%;
    padding-left: 18%;
}

span,
p,
td,
i {
    font-size: 12px;
}

a {
    margin-right: 10px;
    color: black;
}

#sub-container {
    width: 874px;
    height: 415px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.tablinks {
    width: 100px;
    float: right;
    background-color: black;
    color: white;
    font-weight: 400;
    border: none;
    margin: 2px 0 2px 5px;
    padding: 5px 0 4px 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    cursor: pointer;
}

#table-container {
    background-color: lavender;
    border: 2px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 870px;
    height: 390px;
    position: absolute;
    bottom: 0;
}

#table-head {
    height: 30px;
    background-color: black;
}

#agents {
    float: left;
    font-size: 20px;
    margin-left: 15px;
    margin-top: 1px;
    color: white;
}

.display {
    color: rgba(51, 51, 51, 1);
    background-color: white;
    border: none;
    border-radius: 100px;
    padding: .3em 1.2em;
    margin: 4px 5px 0 20px;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, transparent 50%, rgba(106, 146, 204, 1) 50%);
    transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
    cursor: pointer;
    outline: none;
}

.display:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(106, 146, 204, 1);
    background-position: -100% 100%;
}

#left-content {
    float: left;
    bottom: 0;
    position: absolute;
    width: 590px;
    height: 350px;
    margin-top: 0px;
    padding-top: 2px;
}

.idle {
    background-color: #808285;
    border-radius: 10px;
    width: 580px;
    height: 55px;
    margin: 10px 10px 10px 10px;
}

.circle {
    float: left;
    width: 35px;
    height: 35px;
    background-color: lavender;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin: 10px 8px 10px 15px;
    display: block;
}

.top-text {
    color: white;
    height: 35%;
    padding-top: 1.5%;
}

.link {
    font-weight: 500;
}

.bottom-text {
    height: 50%;
    color: white;
}

.fa-plus-square-o {
    margin-right: 5px;
    color: #222323;
}

.resources {
    margin-left: 8px;
}

.fa-trash {
    margin-left: 2px;
    color: #222323;
}

.deny {
    float: right;
    margin-right: 15px;
}

.fa-ban {
    margin-right: 2px;
    color: #222323;
}

.building {
    background-color: #6a92cc;
    border-radius: 10px;
    width: 580px;
    height: 55px;
    margin: 10px 10px 10px 10px;
}

#right-content {
    color: #333333;
    float: right;
    width: 280px;
    height: 360px;
}

#Summary {
    height: 100px;
    width: 250px;
    margin-left: 15px;
}

h5 {
    font-weight: 600;
    border-bottom: 1px solid gray;
}

.summary-details,
.history-list {
    width: 250px;
}

#History {
    width: 250px;
    margin-left: 15px;
    margin-top: -20px;
}