html {
    font-family: Open Sans;
    font-weight: 300;
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
}

button {
    outline: none;
}


/*NAVIGATION BAR*/

header {
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    color: white;
    height: 32px;
    background-color: #EF5BA1;
}

#header-text {
    text-align: right;
    height: 100%;
    right: 0;
    font-size: 13px;
}

#member {
    font-weight: bold;
    color: white;
    margin-right: 10px;
    cursor: pointer;
}

#sign-out {
    color: white;
    text-decoration: none;
    padding: 7px 10px 7px 10px;
    margin-right: 190px;
    border-left: 0.5px solid white;
    border-right: 0.5px solid white;
}

#sign-out:hover {
    color: #EF5BA1;
    background-color: white;
}

.fa-arrow-circle-right {
    margin-right: 3px;
    padding-left: 2px;
    margin-top: 10px;
}

footer {
    font-size: 12px;
    text-align: center;
    padding-top: 4px;
    bottom: 0;
    background-color: #808285;
    color: white;
    height: 22px;
}

.footer-links {
    text-decoration: none;
    color: white;
}

.footer-links:hover {
    text-decoration: underline;
    color: #EF5BA1;
}


/*TITLE*/

h1 {
    font-size: 40px;
    font-weight: 900;
    color: #333333;
    width: 860px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid #EEEEEE;
}


/*TABS*/

.tablinks {
    width: 100px;
    float: right;
    background-color: black;
    color: white;
    font-weight: 400;
    border: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin: 2px 4px 0 5px;
    padding: 5px 0 4px 0;
    cursor: pointer;
}

.tab-content {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    display: none;
}

.agent-content {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    display: none;
}

@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.agent-tabs {
    color: rgba(51, 51, 51, 1);
    background-color: white;
    border: none;
    border-radius: 100px;
    padding: 2.5px 10px;
    margin: 5px -10px 0 20px;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, transparent 50%, rgba(106, 146, 204, 1) 50%);
    transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
    cursor: pointer;
}

.agent-tabs:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(106, 146, 204, 1);
    background-position: -100% 100%;
}


/*TAB CONTENT*/

#help-left {
    float: left;
    top: 25px;
    position: absolute;
    width: 410px;
    height: 410px;
    margin-top: 15px;
    border-right: 2px solid white;
}

.tab-text {
    width: 835px;
    height: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.help-form {
    font-size: 14px;
    color: #333333;
}

.req-fields {
    font-size: 10px;
}

.req {
    color: #EE0B77;
}

.help-input {
    background-color: white;
    color: #666666;
    width: 380px;
    border-bottom: 1px solid #D7D7D7;
    padding: 5px 5px 5px 5px;
}

.help-textarea1 {
    padding: 5px 5px 5px 5px;
    width: 380px;
    height: 40px;
    resize: none;
    border: none;
    outline: none;
}

.help-textarea2 {
    padding: 5px 5px 5px 5px;
    width: 380px;
    height: 55px;
    resize: none;
    border: none;
    outline: none;
}

#form-btn {
    background-color: black;
    color: white;
    margin-top: -10px;
    padding: 10px 10px 10px 10px;
    border: none;
}

#help-right {
    float: right;
    margin-right: auto;
    margin-left: auto;
    width: 400px;
    height: 300px;
}

.tab-title {
    color: #333333;
    font-weight: 800;
    font-size: 15px;
    font-style: italic;
    padding-bottom: 8px;
    margin-right: auto;
    margin-left: auto;
    border-bottom: 1px solid #B3B3B3;
}

.work {
    padding-top: 30px;
}

.work-btn {
    background-color: #A17861;
    color: white;
    text-decoration: none;
    padding: 8px 20px;
}

.help-content {
    color: #777777;
    font-size: 13px;
    margin-right: auto;
    margin-left: auto;
}


/*TABLE*/

span,
p,
td,
i {
    font-size: 12px;
}

#main-container {
    margin-bottom: 60px;
}

#sub-container {
    width: 874px;
    height: 495px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

#table-container {
    background-color: lavender;
    -moz-box-shadow: -10px 10px 15px 0 #ccc;
    -webkit-box-shadow: -10px 10px 15px 0 #ccc;
    box-shadow: -10px 10px 15px 0 #ccc;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 870px;
    height: 470px;
    position: absolute;
    bottom: 0;
}

.table-head {
    height: 30px;
    background-color: black;
    border-top-left-radius: 10px;
}

.table-head-title {
    float: left;
    font-size: 20px;
    margin-left: 15px;
    margin-top: 1px;
    color: white;
}

#left-content {
    float: left;
    top: 30px;
    position: absolute;
    width: 650px;
    height: 435px;
    margin-top: 0px;
    padding-top: 6px;
}

.idle {
    background-color: #808285;
    border-radius: 10px;
    width: 625px;
    min-height: 55px;
    overflow: auto;
    margin: 10px 8px 10px 12px;
    padding-bottom: 3px;
}

.circle {
    float: left;
    width: 35px;
    height: 35px;
    background-color: lavender;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin: 10px 8px 10px 15px;
    display: block;
}

.top-text {
    color: white;
    height: 35%;
    padding-top: 5px;
}

.link {
    font-weight: 500;
}

.bottom-text {
    height: 50%;
    color: white;
}

.fa-plus-square-o {
    margin-right: 5px;
    color: #222323;
}

.rsrcs {
    margin-right: -4px;
}

.fa-trash {
    margin-right: 2px;
    margin-left: 4px;
    color: #222323;
}

.resources {
    margin-left: 8px;
}

.deny {
    float: right;
    margin-right: 15px;
    margin-top: 5px;
}

.fa-ban {
    margin-right: 2px;
    color: black;
}

.building {
    background-color: #6a92cc;
    border-radius: 10px;
    width: 625px;
    min-height: 55px;
    overflow: auto;
    margin: 10px 0 10px 12px;
    padding-bottom: 3px;
}

#right-content {
    color: #333333;
    float: right;
    width: 185px;
    height: 420px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 10px;
    border-left: 2px solid white;
}

#Summary {
    height: 100px;
    width: 180px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -15px;
}

h5 {
    font-weight: 600;
    width: 180px;
    border-bottom: 1px solid gray;
}

.summary-details,
.history-list {
    margin-top: -10px;
    width: 180px;
}

#History {
    width: 180px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -25px;
}


/*TOOLTIPS*/

.tooltip {
    /*+Specify resources link*/
    color: #333333;
    text-decoration: none;
    font-weight: 500;
}

.tt-box {
    background-color: #EF5BA1;
    color: #333333;
    width: 230px;
    box-shadow: -4px 4px 8px 0 black;
    border-radius: 5px;
    -webkit-animation: fadeEffect 0.5s;
    position: absolute;
    z-index: 1;
    left: 12%;
    margin-top: 35px;
    padding: 5px 12px 10px 12px;
    display: none;
}

.tt-box:after {
    background-color: #EF5BA1;
    -webkit-animation: fadeEffect 0.5s;
    position: absolute;
    transform: rotate(45deg);
    margin-top: -88px;
    width: 15px;
    height: 15px;
    left: 5%;
    content: "";
}

.tt-text {
    font-family: Open Sans;
    font-weight: 700;
    font-size: 12px;
}

input {
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 0.5px solid white;
    margin-bottom: 10px;
    padding: 0 5px 0 5px;
    width: 215px;
    visibility: visible;
    outline: none;
}

.tt-add,
.tt-close {
    font-family: Open Sans;
    font-size: 12px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 2px 10px 2px 10px;
}

.tt-close {
    margin-left: 10px;
}

.tt-close:hover,
.tt-add:hover {
    background-color: black;
    color: white;
}