html {
    background-color: white;
    font-family: Open Sans;
    font-weight: 300;
}

header {
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    color: white;
    height: 32px;
    background-color: #EF5BA1;
}

#header-text {
    height: auto;
    min-height: 100%;
    font-size: 13px;
    text-align: right;
    right: 0;
}

input {
    outline: none;
}

.fa-search {
    margin-right: 15px;
}

#search-tw {
    background-color: transparent;
    border: none;
    border-bottom: 0.5px solid white;
    color: white;
}

#sign-in {
    color: white;
    text-decoration: none;
    padding: 7px 10px 7px 10px;
    margin-right: 195px;
    border-left: 0.5px solid white;
    border-right: 0.5px solid white;
}

#sign-in:hover {
    color: #EF5BA1;
    background-color: white;
}

.fa-sign-in {
    margin-right: 3px;
    padding-left: 2px;
    margin-top: 10px;
}

body {
    margin: 0px;
    padding: 0px;
}

#body-text {
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 800px;
    font-size: 25px;
    color: #333333;
}

ul {
    list-style-type: none;
}

.links {
    color: #333333;
    font-size: 23px;
    text-decoration: none;
}

.links:hover {
    color: #EF5BA1;
}

footer {
    bottom: 0;
    width: 100%;
    background-color: #808285;
    color: white;
    height: 300px;
}

#sub-container {
    width: 800px;
    height: 65%;
    margin-left: auto;
    margin-right: auto;
}

#left-content {
    margin: 0 0 0 0;
    width: 390px;
    float: left;
    font-size: 15px;
}

#right-content {
    width: 350px;
    float: right;
}

.footer-title {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 15px;
}

#social-media {
    height: 50px;
    font-size: 2em;
}

.fa-twitter,
.fa-facebook,
.fa-youtube,
.fa-linkedin,
.fa-weibo,
.fa-instagram {
    margin-right: 20px;
    color: white;
}

#bottom-text {
    font-size: 14px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-top: 0.5px solid #737578;
}

#info {
    margin-top: 20px;
}

.info {
    text-decoration: none;
    margin-right: 15px;
    color: white;
    font-weight: 500;
}

.info:hover {
    text-decoration: underline;
    color: #ED69A8;
}

.bottom-info {
    margin-top: 15px;
}